@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.logo-img {
  width: 280px; /* you can use % */
  height: auto;
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-blue {
  @apply bg-surfmon-blue text-white;
}

.btn-white {
  @apply bg-surfmon-white;
}